header {
	display: flex;
	width: 100%;
	/* justify-content: space-between;
    align-items: center; */
	font-size: 18px;
	/* padding: 40px 40px; */
	background-color: #1e1f29;
	background-size: cover;
}

.header_inner {
	max-width: calc(1220px - 19px);
	display: flex;
	margin: 0 auto;
	width: 100%;
	padding-top: 40px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
}

.menu {
	display: flex;
	gap: 56px;
}

.menu ul {
	display: flex;
	list-style-type: none;
	gap: 32px;
	margin: 0;
}

.menu_item:hover a {
	color: #afb2bf;
}

.login_desctop {
	display: flex;
	align-items: center;
}

.login:hover a {
	color: #afb2bf;
}

.login_desctop img {
	margin-right: 8px;
}

.active {
	border: 1px solid white;
	border-radius: 8px;
}

.menu_item {
	padding: 8px 16px 8px 16px;
}

.mobile_menu {
	display: none;
	background-color: #1e1f29;
	border: none;
}

@media (max-width: 960px) {
	.mobile_menu {
		display: block;
	}
}

@media (max-width: 480px) {
	.logo_company {
		max-width: 174px;
	}
}

@media (max-width: 960px) {
	.desctop_visable {
		display: none;
	}
}

@media (max-width: 960px) {
	.menu {
		display: none;
	}

	.login_desctop_visable {
		display: none;
	}
}

@media (max-width: 1200px) {
	.login_desctop img {
		margin-right: 10px;
	}
}
@media (max-width: 1080px) {
	.login_desctop {
		margin-right: 40px;
	}
	.logo_company {
		margin-left: 40px;
	}
	.wrapper {
		padding-top: 40px;
	}
	.button_wrapper {
		display: flex;
		justify-content: center;
	}
}
